@charset "utf-8";
/* CSS Document */

#logo {
	background-color: rgb(0,174,239);
	width:120px;
	height:25px;
	border-radius: 5px;	
}
@font-face {
	font-family: Gotham Rounded Bold;
	src: url("GothamRnd-Bold");
}
	
#text{
	font-family:"Gotham Rounded Bold", "Gotham Rounded Medium", "Gotham Rounded Light";
	color: #fff;
	font-size:17px;
	padding:2px 2px 0px 2px;
	letter-spacing: 2px;
	text-align:center;
	z-index:1;
	position:relative;
}

#bolt {
   height: 22px; 
   width: 2px;
  /* border-bottom:15px solid blue;*/
   border-top: 12px solid white;
   border-left: 4px solid transparent;
   border-right: 6px solid rgb transparent;
      /* Skew */
   -webkit-transform: skew(-30deg); 
   -moz-transform: skew(-30deg); 
   -o-transform: skew(-30deg);
   transform: skew(-30deg);
   z-index:8;
   position:absolute;
   margin: 0px 0px 0px 68px;
}

#bolt-line {
	background-color:rgb(0,174,239);
   height: 12px; 
   width:2px;
     /* Skew */
   -webkit-transform: skew(-40deg); 
   -moz-transform: skew(-40deg); 
   -o-transform: skew(-40deg);
   transform: skew(-40deg);
   z-index:9;
   position:absolute;
   margin: 2px 0px -2px 78px;	
}